{% extends 'pages/_base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />

<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap');
</style>
<style>
    
    .btn-Key{
            margin-top: 45px;
            text-align-last: center;
        }

    .btn-newKey{
        background-color: rgba(128, 128, 128, 0.301);
        border: 0px;
        border-radius: 5px;
        padding: 10px 20px 10px 20px;
        font-weight: 900;
    }
    .btn-newKey:hover{
        background-color: rgba(128, 128, 128, 0.671);

    }
    .btn-newKey{
        background-color: rgba(128, 128, 128, 0.301);
        border: 0px;
        border-radius: 15px;
        padding: 10px 20px 10px 20px;
        font-weight: 900;
    }
    .btn-newKey:hover{
        background-color: rgba(162, 226, 119, 0.671);

    }
    .tb-height td{
        height: 75px;
        vertical-align: middle;
    }
    .tb-height th{
        color: grey;
        font-weight: 900;
    }
    .btn-delete{
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
    }
    .btn-delete:hover{
        background-color: rgba(107, 107, 107, 0.301);
    }

    .btn-modal{
        background-color: transparent;
        border: 0px;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
    }
    .btn-modal:hover{
        background-color: rgba(107, 107, 107, 0.301);
    }
    
    .welcomePage{
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
    }

    .btn-label {
	position: relative;
	left: -12px;
	display: inline-block;
	padding: 6px 12px;
	background: rgba(0, 0, 0, 0.15);
	border-radius: 3px 0 0 3px;
    }

    .btn-labeled {
        padding-top: 0;
        padding-bottom: 0;
    }

    .btn {
        margin-bottom: 10px;
    }
    .key_option{
        margin-top: 15px;
    }
    @media (min-width: 992px){
    .modal-lg, .modal-xl {
        --bs-modal-width: 1200px;
    }}
</style>


<div class="welcomePage">
    <h1>Project Key's</h1>
    <button class="btn-newKey" data-bs-toggle="modal" data-bs-target="#newKeyModal">Generate a new key</button>
</div>


<table id="keyList" class="table" style="width:100%;margin-top: 15px;">
    <thead>
        <tr class="tb-height">
            <th>KEY NAME</th>
            <th>KEY</th>
            <th>ADD INVENTORY</th>
            <th>ADD PLAYBOOK</th>
            <th>ADD TEMPLATE</th>
            <th>RUN TEMPLATE</th>

        </tr>
    </thead>
    <tbody id="KeyTable">
        {% for x in project_key.all %}
        <tr class="tb-height" id="KeyID{{project_key.id}}">
            <td>{{project_key.id}}</td>
            <td>{{project_key.id}}</td>
            <td>{{project_key.id}}</td>
            <td style="color: red;">{{project_key.id}}</td>
            <td style="color: red;">{{project_key.id}}</td>
            <td>
                <i class="bx bxs-x-circle btn-delete"></i>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>



<!-- Modal for add new key -->
<div class="modal fade" id="newKeyModal" tabindex="-1" aria-labelledby="newKeyModalLabel" aria-hidden="true" style="width: 100% !important;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="newKeyModalLabel">New Key</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="newKeyForm">
                    {% csrf_token %}
                    <div class="card" style="border: none;">
                        <div id="result" style="color: green;"></div>
                        <input type="hidden" id="project_id" name="project_id" value="{{ project_id }}">
                        <!-- KEY TITLE -->
                        <label for="">Enter key title</label>
                        <input type="text" name="key_title" id="key_title" required>
                        <!-- KEY OPTIONS -->
                        <hr>
                        <label for="" style="font-weight: 900;font-size: 18px;margin-top: 5px;">Key Options</label>
                        <div class="key_option">
                            <input class="form-check-input option-input" type="checkbox" value="" id="check1">
                            <label for="">Allow you to add new Inventory</label>
                        </div>
                        <div class="key_option">
                            <input class="form-check-input option-input" type="checkbox" value="" id="check1">
                            <label for="">Allow you to add new Inventory</label>

                        </div>
                        <div class="key_option">
                            <input class="form-check-input option-input" type="checkbox" value="" id="check1">
                            <label for="">Allow you to add new Playbooks</label>

                        </div>
                        <div class="key_option">
                            <input class="form-check-input option-input" type="checkbox" value="" id="check1">
                            <label for="">Allow you to add new Templates</label>

                        </div>
                        <div class="key_option">
                            <input class="form-check-input option-input" type="checkbox" value="" id="check1">
                            <label for="">Allow you to remove items</label>

                        </div>
                    </div>
                    <button type="submit" class="btn-newKey" style="margin-top: 15px;">GENERATE KEY</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'javascript/member.js' %}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
    $.noConflict();
    var table = $('#keyList').DataTable();
    });
</script>

<script>
    var navLinks = document.getElementsByClassName("nav_link");
    navLinks[4].classList.add("active");
</script>
{% endblock content %}