{% extends '_base.html' %}
{% block title %}SwitchSetup{% endblock %}
{% block content %}




{% if page == '1' %}
<h1>Playbook List</h1>
<table id="logAct" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Option</th>
        </tr>
    </thead>
    <tbody>
        {% for playbook in object_list %}
        <tr>
            <td>{{ playbook.id }}</td>
            <td>{{ playbook.title }}</td>
            <td>{{ playbook.about }}</td>
            <td><a href="{% url 'playbookCustomEdit' playbook.pk %}">Edit</a> | <a href="{% url 'playbookCustomDelete' playbook.pk %}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Option</th>
        </tr>
    </tfoot>
</table>

{% else %}
<h1>Host's</h1>
<table id="logAct" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Option</th>
        </tr>
    </thead>
    <tbody>
        {% for host in object_list %}
        <tr>
            <td>{{ host.id }}</td>
            <td>{{ host.title }}</td>
            <td>{{ host.about }}</td>
            <td><a href="{% url 'hostCustomEdit' host.pk %}">Edit</a> | <a href="{% url 'hostCustomDelete' host.pk %}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Option</th>
        </tr>
    </tfoot>
</table>

{% endif %}

<style>
    .hiddenRow {
        padding: 0 !important;
    }
    input{
            background-color: white !important;
        }
    select{
        background-color: white !important;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script>$(document).ready(function () {
    $.noConflict();
    var table = $('#logAct').DataTable();
});</script>
<script>
    var navLinks = document.getElementsByClassName("nav_link");
    navLinks[6].classList.add("active");
</script>
{% endblock content %}
