{% extends '_base.html' %}
{% block title %}SwitchSetup{% endblock %}
{% block content %}

<h1>Ansible Configuration</h1>



<form method="POST">
{% csrf_token %}
<div class="form-group">
    <label for="exampleFormControlInput1">Switch SSH Username</label>
    <input class="form-control" type="text" name="username" placeholder="Username" >
</div>
<div class="form-group">
    <label for="exampleFormControlInput1">Switch SSH Password</label>
    <input class="form-control" type="password" name="password" placeholder="Password">
</div>
<div class="form-group">
    <label for="exampleFormControlSelect1">Select Switch</label>
    <select class="form-control" id="exampleFormControlSelect1" name="switch">
    <option>Cisco</option>
    <option>Huawei</option>
    </select>
</div>
<div class="form-group">
    <label for="exampleFormControlTextarea1">Hosts List</label>
    <small class="form-text text-muted">
        Each host must be separated by a line
    </small>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="host"></textarea>
</div>
<div class="form-group">
    <label for="exampleFormControlTextarea1">Commands List</label>
    <small class="form-text text-muted">
        Each command must be separated by a line
    </small>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="playbook"></textarea>
</div>
<button class="btn btn-primary" type="submit" style="margin-top: 5px;">Enviar</button>
</form>

{% if output %}
<h3 style="margin-top: 35px;">Output</h3>
<pre>
    {{ output }}
</pre>
{% endif %}



<script>
    var navLinks = document.getElementsByClassName("nav_link");
    navLinks[1].classList.add("active");
</script>
{% endblock content %}
