{% extends '_base.html' %}
{% block title %}SwitchSetup{% endblock %}
{% block content %}


{% if result %}
<div class="toast-container position-static">
    <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#007aff"></rect></svg>
        <strong class="me-auto">System Alert</strong>
        <small class="text-body-secondary"></small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" action></button>
      </div>
      <div class="toast-body">
        {{result}}
      </div>
    </div>
</div>

{% endif %}



<p><a href="{% url 'ansible' %}">Back to Ansible Menu</a></p>

{% if commandLine %}





<h1>Command List</h1>
<p>It is typically used to utilize the service of a predefined host and a customized command in the API</p>
<p>You can retrieve the saved commands here, set some variables, and replace them before sending to the API</p>
<hr>



<button id="commandBtn" type="button"  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-bottom: 25px;">
    {% if edit != 1 %}Create a new command line{% else %}Return do edit page{% endif %}
</button>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width: 100% !important;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create a user</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3>{% if edit != 1 %}Add a new command line{% else %}Edit a command line{% endif %}</h3>
                <hr>
                <div class="container">
                    {{ form.errors }}
                    <form method="POST">
                    {% csrf_token %}
                    {% for x in form %}
                    <div class="form-group" style="margin-top: 15px;">
                        <label class="form-label" style="display: flex;flex-direction: column;">
                        <label for="exampleFormControlInput1">{{x.label_tag}}</label>
                        {{x}}
                        </label>
                    </div>
                    {% endfor %}
                    <button class="btn btn-primary" type="submit" style="margin-top: 25px;">Confirm</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% if edit == 1 %}

<script>
    // Aguarda o DOM ser carregado
    document.addEventListener("DOMContentLoaded", function() {
        // Obtém uma referência ao botão pelo ID
        var commandBtn = document.getElementById("commandBtn");

        // Simula um clique no botão
        commandBtn.click();
    });
</script>

{% endif %}
<table id="commandTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Option</th>
        </tr>
    </thead>
    <tbody>
        {% for command in commandList %}
        <tr>
            <td>{{ command.id }}</td>
            <td>{{ command.title }}</td>
            <td>{{ command.description }}</td>
            <td><a href="{% url 'commandLineEdit' command.id %}">Edit</a> | <a href="{% url 'commandLineDelete' command.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Option</th>
        </tr>
    </tfoot>
</table>




{% else %}
{{ form.errors }}
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}

{% if type_page != 'delete' %}
    <div class="form-group" style="margin-top: 15px;">
        <label for="exampleFormControlInput1">Title</label>
        {% if type_page == 'create' %}
        <input class="form-control" type="text" name="title" placeholder="Title">

        {% else %}
        <input class="form-control" type="text" name="title" placeholder="Title" value="{{ form.title.value }}">
        {% endif %}
    </div>

    <div class="form-group" style="margin-top: 15px;">
        <label for="exampleFormControlInput1">Description</label>
        {% if type_page == 'create' %}
        <input class="form-control" type="text" name="about" placeholder="Description">
        {% else %}
        <input class="form-control" type="text" name="about" placeholder="Description" value="{{ form.about.value }}">
        {% endif %}
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label for="exampleFormControlInput1">Switch</label>
        {{ form.switch }}
    </div>
    {% if page == '1' %}

    <div class="form-group" style="margin-top: 15px;">
        <label class="form-label" for="customFile">Pĺaybook file: </label>
        {% if type_page == 'create' %}
        <input class="form-control form-control-lg" id="formFileLg" type="file" name="playbook_file" accept=".yml"/>
        {% else %}
        {{ form.playbook_file }}
        {% endif %}
        <small class="form-text text-muted">
            The file extension must be in YAML
        </small>
    </div>
    {% else %}
    <div class="form-group" style="margin-top: 15px;">
        <label for="exampleFormControlInput1">Device</label>
        {% if type_page == 'create' %}
        <input class="form-control" type="text" name="device" placeholder="Example: 10.0.0.0">
        {% else %}
        <input class="form-control" type="text" name="device" placeholder="Description" value="{{ form.device.value }}">
        {% endif %}
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="form-label" for="customFile">Host file: </label>
        {% if type_page == 'create' %}
        <input class="form-control form-control-lg" id="formFileLg" type="file" name="host_file" accept=".yml"/>
        {% else %}
        {{ form.host_file }}
        {% endif %}
        <small class="form-text text-muted">
            The file extension must be in YAML
        </small>
    </div>
{% endif %}

<button class="btn btn-primary" type="submit" style="margin-top: 25px;">Confirm</button>
{% else %}
<h3 style="color: red;">Are you sure you want to delete "{{ object }}"?</h3>
<button type="submit" class="btn btn-danger px-5 mb-5 w-100">Confirm</button>
{% endif %}
</form>
{% endif %}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
  
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

<script>$(document).ready(function () {
    $.noConflict();
    var table = $('#commandTable').DataTable();
});</script>

<script>
    var navLinks = document.getElementsByClassName("nav_link");
    navLinks[1].classList.add("active");
</script>
{% endblock content %}
