{% extends '_base.html' %}
{% load static %}
{% block title %}SwitchSetup{% endblock %}
{% block content %}

<h1>Ansible Custom Settings</h1>
<p>Select the playbook you want to run along with the target hosts file.</p>

<form method="POST">
    {% csrf_token %}
<table id="logAct" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Ansible Level</th>
            <th>Playbook</th>
            <th>Host</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <select class="custom-select" style="width: 100%;" id="ansible_level" name="ansible_level">
                    <option value="0" selected>Standard</option>
                    <option value="1">Basic</option>
                    <option value="2">Intermediary</option>
                    <option value="3">Advanced</option>
                </select>
            </td>
            <td>
                <select class="custom-select" style="width: 100%;" name="playbook_file">
                    <option selected>Select the Playbook</option>
                    {% for playbook in playbook_list %}
                    <option value="{{ playbook.id }}">{{ playbook.title }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select class="custom-select" style="width: 100%;" name="host_file">
                    <option selected>Select the Host</option>
                    {% for host in host_list %}
                    <option value="{{ host.id }}">{{ host.title }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <button style="border: 0px;"><img src="{% static 'images/run_op.svg' %}" style="max-width: 25px;margin-right: 5px;">Run</button>
            </td>
        </tr>
    </tbody>
</table>

</form>
{% if output %}
<hr>
<h3 style="margin-top: 35px;">Output</h3>
<pre>
    {{ output }}
</pre>
<hr>
{% endif %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var navLinks = document.getElementsByClassName("nav_link");
    navLinks[1].classList.add("active");
</script>
{% endblock content %}
