{% extends '_base.html' %}
{% block title %}SwitchSetup Api{% endblock %}
{% block content %}


{% if result %}
<div class="toast-container position-static">
    <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#007aff"></rect></svg>
        <strong class="me-auto">System Alert</strong>
        <small class="text-body-secondary"></small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" action></button>
      </div>
      <div class="toast-body">
        {{result}}
      </div>
    </div>
</div>
{% endif %}

{% if settings == 0 %}
<h1>Manage Api</h1>
<hr>
<form method="post">
{% csrf_token %}
<h3 class="form-label">Create Key</h3>
<div class="input-group">
<div class="form-outline">
<input type="search" class="form-control" placeholder="Key Title" name="title">

</div>
<button type="submit" class="btn btn-success">
    <i class='bx bx-add-to-queue'></i>
    Create
</button>
</div>
</form>



<h4 style="margin-top: 30px;margin-bottom: 15px;">List of generated keys</h4>
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            
        </div>
        <div class="panel-body">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                    <th></th>
                    <th>Key ID</th>
                    <th>Title</th>
                    <th>Option</th>
                    </tr>
                </thead>

                <tbody>
                    {% for key in keys %}
                    <tr data-toggle="collapse" data-target="#demo{{key.id}}" class="accordion-toggle">
                        <td><button class="btn btn-default btn-xs"><i class='bx bx-plus-circle'></i> Show access key</button></td>
                        <td>{{ key.id }}</td>
                        <td>{{ key.title }}</td>
                        <td><a href="{% url 'keyDelete' key.pk %}">Delete</a></td>
                    </tr>
                    <tr>
                        <td colspan="12" class="hiddenRow">
                            <div class="accordian-body collapse" id="demo{{key.id}}" style="width: 100%;"> 
                                <table class="table table-striped">
                                    <thead>
                                        <tr class="info">
                                        <th>Key</th>
                                        </tr>
                                    </thead>	
                                    <tbody>
                                        <tr data-toggle="collapse"  class="accordion-toggle">
                                        <td>{{ key.key }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> 
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div> 
</div>
<hr>
<h1 style="margin-top: 30px;margin-bottom: 15px;">Examples of <span style="color: #4723D9">API requests</span></h1>
<h3>Python</h3>
<pre style="color: white;background-color: rgb(27, 27, 27);border-radius: 10px;">
    <code>
        import requests

        def run_request():
            url = 'http://127.0.0.1:8000/api/v3/playbook'
            data = {
                'key': 'Teste Key',
            }

            response = requests.post(url, data=data)

            if response.status_code == 200:
                # Successful request, handle the response here
                result = response.json()
                print(result)
            else:
                # Error
                print('Error:', response.status_code)

        if __name__ == '__main__':
            run_request()
    </code>
</pre>

<h3>JavaScript</h3>
<p>Under development</p>
{% else %}
<p>Are you sure you want to delete "{{ object }}"?</p>
<form method="POST">
    {% csrf_token %}
<div class="text-center">
    <button type="submit" class="btn btn-danger px-5 mb-5 w-100">Confirm</button>
</div>
</form>
{% endif %}

<style>
.hiddenRow {
    padding: 0 !important;
}
</style>

<script>
    var navLinks = document.getElementsByClassName("nav_link");
    navLinks[4].classList.add("active");
</script>
{% endblock content %}
