{% extends '_base.html' %}
{% block title %}SwitchSetup{% endblock %}
{% block content %}



<h1>{{page}}</h1>

{% if result %}
<h3 class="text-success">{{result}}</h3>
{% endif %}

{% if settings == 0 %}

<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label>Add new credential</label>
    </div>
    <div class="form-group">
        <label>Credential Title</label>
        <input class="form-control" type="text" name="title" placeholder="Title">
    </div>
    <div class="form-group">
        <label>Switch SSH Username</label>
        <input class="form-control" type="text" name="username" placeholder="Username">
    </div>
    <div class="form-group">
        <label>Switch SSH Password</label>
        <input class="form-control" type="text" name="password" placeholder="Password">
    </div>
    <button class="btn btn-primary" type="submit" style="margin-top: 5px;">Confirm</button>
</form>

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Credentials Table
        </div>
        <div class="panel-body ">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Option</th>
                    </tr>
                </thead>

                <tbody>
                    {% for credential in credentials %}
                    <tr data-toggle="collapse" data-target="#demo{{credential.id}}" class="accordion-toggle">
                        <td><button class="btn btn-default btn-xs"><i class='bx bxl-trip-advisor'></i></button></td>
                        <td>{{ credential.id }}</td>
                        <td>{{ credential.title }}</td>
                        <td><a href="{% url 'credentialEdit' credential.pk %}">Edit</a> | <a href="{% url 'credentialDelete' credential.pk %}">Delete</a></td>
                    </tr>

                    <tr>
                        <td colspan="12" class="hiddenRow">
                            <div class="accordian-body collapse" id="demo{{credential.id}}" style="width: 100%;"> 
                                <table class="table table-striped">
                                    <thead>
                                        <tr class="info">
                                        <th>Username</th>
                                        <th>Password</th>
                                        </tr>
                                    </thead>	
                                    <tbody>
                                        <tr data-toggle="collapse"  class="accordion-toggle">
                                        <td>{{ credential.username }}</td>
                                        <td>{{ credential.password }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> 
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div> 
</div>

{% elif settings == 1 %}
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label>Credential Title</label>
        <input class="form-control" type="text" name="title" placeholder="Title" value="{{ object.title }}">
    </div>
    <div class="form-group">
        <label>Switch SSH Username</label>
        <input class="form-control" type="text" name="username" placeholder="Username" value="{{ object.username }}">
    </div>
    <div class="form-group">
        <label>Switch SSH Password</label>
        <input class="form-control" type="text" name="password" placeholder="Password" value="{{ object.password }}">
    </div>
    <button class="btn btn-primary" type="submit" style="margin-top: 5px;">Confirm</button>
</form>

{% else %}
<form method="post">
{% csrf_token %}
<p>Are you sure you want to delete "{{ object }}"?</p>
<div class="text-center">
    <button type="submit" class="btn btn-danger px-5 mb-5 w-100">Confirm</button>
</div>
</form>
{% endif %}


<style>
    .hiddenRow {
        padding: 0 !important;
    }
</style>

<script>
    var navLinks = document.getElementsByClassName("nav_link");
    navLinks[4].classList.add("active");
</script>
{% endblock content %}
