{% extends '_base.html' %}
{% block title %}SwitchSetup{% endblock %}
{% block content %}


<h1>Getting started</h1>
<p>SwitchSetup is an application that utilizes Django as a foundation to 
create a web interface and APIs.</p>
<p> connects to network devices using Ansible, 
executing commands and gathering information.</p> 
<p>Additionally, it is containerized using Docker to streamline deployment.</p>

<ul class="list-group">
    <li class="list-group-item">1 - </li>
</ul>
  
<script>
    var navLinks = document.getElementsByClassName("nav_link");
    navLinks[3].classList.add("active");
</script>
{% endblock content %}
