{% extends '_base.html' %}
{% block title %}SwitchSetup{% endblock %}
{% block content %}
<h1 >What is <span style="color: #4723D9">SwitchSetup</span>?</h1>
<p>This software is designed to configure network devices using Ansible, assisting configurations of many equipment.</p>
<p>Feel free to contribute to the project.</p>
<h3 id="#advantage">Advantage</h3>
<p>The main advantage of this Software, if you are on a network with access to the equipment</p>
<p>you will be able to configure it through a cell phone for example.</p>
<h3 id="#how-work">How Work</h3>
<p>To establish a connection with the equipment, you will need the SSH credentials, including the username and password. </p>
<p>Once connected, you can access the configuration interface where you </p>
<p>provide the relevant user and password information, </p>
<p>specify the equipment (Host) you want to access, and define the commands to be executed (Playbook).</p>
{% if user.is_staff %}
<h3 id="#security" style="color: rgb(134, 13, 13);">Security</h3>
<p>For your security, we recommend creating a new user as an administrator and removing the default admin from the system.</p>
<p>To do this, simply <a href="{% url 'userCreate' %}">access the link</a> and check the administrator option.</p>
{% endif %}
<h1>How we build this</h1>
<p>The SwitchSetup was developed using the Django Framework and ansible libraries, 
<p>leveraging the power of Python and software engineering principles.</p>
<hr>
<h1>Be free to collaborate!</h1>
<p>We have a lot of ideas, but little time to work on them.</p>
<p>See our <a href="https://github.com/AleDouglas/SwitchSetup">link on github</a> which has all the information on how to help us.</p>
<p>You can also contact us via email: <a href="#">xand.douglass@gmail.com</a>.</p>
<script>
    var navLinks = document.getElementsByClassName("nav_link");
    navLinks[0].classList.add("active");
</script>
{% endblock content %}