{% extends '_base.html' %}
{% block title %}SwitchSetupAPI{% endblock %}
{% block content %}
<h1>What is SwitchSetup?</h1>
<p>This software is designed to configure network devices using Ansible, assisting configurations of many equipment.</p>
<p>Feel free to contribute to the project.</p>
<h1>How we build this</h1>
<p>The ApiWeb was developed using the Django Framework and ansible libraries, 
<p>leveraging the power of Python and software engineering principles.</p>
<hr>
<h1>Be free to collaborate!</h1>
<p>We have a lot of ideas, but little time to work on them.</p>
<p>See our <a href="https://github.com/AleDouglas/SwitchSetup">link on github</a> which has all the information on how to help us.</p>
<script>
    var navLinks = document.getElementsByClassName("nav_link");
    navLinks[0].classList.add("active");
</script>
{% endblock content %}