{% extends '_base.html' %}
{% block title %}SwitchSetup{% endblock %}
{% block content %}

<style>
    .hiddenRow {
        padding: 0 !important;
    }

    input{
        background-color: white !important;
    }
    select{
        background-color: white !important;
    }
</style>

<h3>Activity Log</h3>
<hr>
<table id="logAct" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Utilized Service</th>
            <th>Data</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        {% for log in log_list %}
        <tr>
            <td>{{ log.id }}</td>
            <td>{{ log.user }}</td>
            <td>{{ log.service }}</td>
            <td>{{ log.data }}</td>
            <td>{{ log.hour }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Utilized Service</th>
            <th>Data</th>
            <th>Time</th>
        </tr>
    </tfoot>
</table>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
  
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script>$(document).ready(function () {
    $.noConflict();
    var table = $('#logAct').DataTable();
});</script>


<script>


    var navLinks = document.getElementsByClassName("nav_link");
    navLinks[2].classList.add("active");
</script>



{% endblock content %}
