{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SwitchSetup</title>
    <!-- CSS IMPORT -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<style>
    .btn-dropdown{

        padding: 0.5rem 0 0.5rem 1.5rem;
        margin-bottom: 2rem;
    }
    .btn-principal{
        padding: 0 !important;
        display: flex;
        background-color: transparent;
        width: 100%;
        border: 0;
        align-items: center;
        color: white;
        font-size: 24px;
        justify-content: space-between;
    }

    .btn-Logout{
            background-color: rgba(128, 128, 128, 0.301);
            border: 0px;
            border-radius: 15px;
            padding: 10px 20px 10px 20px;
            font-weight: 900;
        }
    .btn-Logout:hover{
        background-color: rgba(228, 12, 12, 0.671);

    }
</style>
<body id="body-pd">


    <header class="header" id="header">
        <div class="header_toggle"> <i class="bx bx-menu" id="header-toggle"></i></div>
        <div class="header_toggle"> <a href="#" data-bs-toggle="modal" data-bs-target="#LogoutModal"> <i class='bx bx-log-out nav_icon' style="color: red;"></i> <span class="nav_name" style="color: red;">SignOut</span></a></div>
        

    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div> 
                <a href="{% url 'home' %}" class="nav_logo">
                    <i class='bx bxs-archive nav_logo-icon'></i>
                    <span class="nav_logo-name">{{project_title}}</span>
                </a>
                        

                <div class="nav_list"> 
                    <a href="{% url 'dashboard' project_id%}" class="nav_link"> <i class='bx bxs-dashboard' ></i> <span class="nav_name">Dashboard</span> </a> 
                    <a href="{% url 'template' project_id%}" class="nav_link"> <i class='bx bx-task' ></i> <span class="nav_name">Task Templates</span> </a> 
                    <a href="{% url 'inventory' project_id%}" class="nav_link"> <i class='bx bx-desktop' ></i> <span class="nav_name">Inventory</span> </a> 
                    <a href="{% url 'playbook' project_id%}" class="nav_link"> <i class='bx bxs-terminal' ></i> <span class="nav_name">Playbook</span> </a> 
                    <a href="{% url 'key' project_id%}" class="nav_link"> <i class='bx bxs-key' ></i><span class="nav_name">Key Store</span> </a> 
                    <a href="{% url 'members' project_id%}" class="nav_link"> <i class='bx bxs-user-account'></i><span class="nav_name">Members</span> </a> 
                    </a>
                </div>
            </div>
            <div>
                {% if user.is_staff %}
                {% endif %}
            </div>
        </nav>
    </div>
    <!--Container Main start-->
    <div class="height-100">
        {% block content %}
        {% endblock content %}
    </div>
    <!--Container Main end-->

        <!-- Modal for Logout -->
        <div class="modal fade" id="LogoutModal" tabindex="-1" aria-labelledby="LogoutModalLabel" aria-hidden="true" style="width: 100% !important;">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="LogoutModalLabel">Logout</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'logout' %}">
                            <div>
                                {% csrf_token %}
                                <p style="color: red;">Are you sure you want to log out of your account?</p>
                            </div>
                            <button type="submit" class="btn-Logout" style="margin-top: 15px;" data-bs-dismiss="modal" aria-label="Close" >Logout</button>
    
                        </form>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


    <!-- JavaScript IMPORT-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="{% static 'javascript/navbar.js' %}"></script>
    

</body>
</html>